* {
    margin: 0;
    padding: 0;
}

body {
    font-family:'Roboto', sans-serif;
    min-width: 350px;
}

.header {
    background: #213B7E;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 16px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EA5D21; 
    text-decoration: none; 
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    padding: 15px 51px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.menu {
    list-style: none;
    display: flex;
    margin-left: 54px;
    flex-wrap: wrap;
}

.menu__link {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-decoration-line: underline;
    color: #FFFFFF;
    padding: 28px 18px;
    display: block;
}

.menu__link_active {
    background: #FFFFFF;
    color: #213B7E;
    text-decoration: none;
}

.menu__link:hover {
    background-color: #fcfdfd;
    color: #213B7E;
}

.content {
    padding-left: calc(50% - 911px / 2);
    padding-right: calc(50% - 911px / 2);
}

.title {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 30px;
    line-height: 35px;
    display: flex;
    align-items: center;
    color: #000000;
    font-weight: 700;
    margin-top: 33px;
    margin-bottom: 25px;
}

.content__info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.content__section {
    width: 634px;
}

.heading {
    position: relative;
    width: 129px; 
    font-family:'Lobster', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    color: #646464;
    margin-top: 48px;
}

.quaotemark {
    font-size: 69px;
}

.quaotemark-start {
    position: absolute;
    left: -33px;
    top: 9px;
}

.quaotemark-end {
    position: absolute;
    left: 123px;
    top: 55px;
}

.subtitle {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 25px;
    line-height: 29px;
    display: flex;
    align-items: center;
    font-weight: 400;
    color: #000000;
    margin-top: 15px;
    margin-bottom: 10px;
}

.about__text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}

.footer {
    padding-top: 18px;
    padding-bottom: 19px;
    background: #213B7E;
    text-align: center;
    margin-top: 187px;
}

.footer__text {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: rgba(255, 255, 255, 0.5);
    font-family:'Roboto', sans-serif;
}

.link__footer {
    text-decoration-line: underline;
}
.link__footer:hover {
    color: #5535df;
    background-color: rgba(21, 64, 239, 0.25);
}

.word {
    color: #CF5510;
}

.siteborder {
    max-width: 1300px;
    margin: 0 auto;
}
.contentontop {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.content__students {
    padding-left: calc(50% - 1202px / 2);
    padding-right: calc(50% - 1202px / 2);
}
.students__folders {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    margin-top: 24px;
    justify-content: center;
}

.students__heading {
    font-family:'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 31px;
    line-height: 36px;
    color: #000000;
    margin-top: 37px;
    margin-bottom: 14px;
    display: block;
    text-align: center;
}

.student {
    width: 200px;
    position: relative;
}

.students__text {
    font-family:'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    text-align: center;
    margin-top: 8px;
}

.student__new::after {
    content: 'новичок';
    position: absolute;
    top: -12px;
    right: -13px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    background: #3AA828;
    border-radius: 20px;
    font-family:'Roboto', sans-serif;
    text-transform: uppercase;
    padding: 2px 5px 1px 5px;
}

.map {
        padding-left: calc(50% - 1268px / 2);
        padding-right: calc(50% - 1268px / 2);
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-top: 33px;
}

.text__contacts {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: #000000;
    font-family:'Roboto', sans-serif;
    padding-bottom: 25px;
    padding-left: 130px;
}

.head_under_map {
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
    color: #000000;
    font-family:'Roboto', sans-serif;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 130px;
}

.adress {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    font-family:'Roboto', sans-serif; 
    padding-bottom: 15px;
    padding-left: 130px;
}

.tel {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    font-family:'Roboto', sans-serif; 
    padding-left: 130px;
}

.content_about {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 33px;
    padding-left: calc(50% - 820px / 2);
    padding-right: calc(50% - 820px / 2);
}

.about {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: #000000;
    font-family:'Roboto', sans-serif;
    margin-bottom: 25px;
}

.text__aboutpage {
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
    color: #000000;
    font-family:'Roboto', sans-serif;
    margin-bottom: 15px; 
}

.popup {
    width: 500px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    border: 1px solid #213B7E; 
    top: 160px;
    left: calc(50% - 500px / 2);
    display: none;
    position: absolute;
    filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.25));
    margin: 0 auto;
 }

.popup.visible {
    display: flex;
 }

 .entertext {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    display: block;
    text-align: center;
    padding-top: 26px;
    padding-bottom: 36px
 }
.text_input {
    margin-bottom: 56px;
    padding-left: 14px;
    padding-right: 14px;
 }
 .password_input {
    padding-left: 14px;
    padding-right: 14px;
 }
 .input {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    height: 55px;
    margin-bottom: 56px;
    width: 444px;
    background: #FFFFFF;
    border: 1px solid #808080;
    box-sizing: border-box;
    padding-top: 17px;
    padding-bottom: 10px;
 }

  input::placeholder {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #808080;
    
}

.button_2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EA5D21; 
    text-decoration: none; 
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    padding: 15px 51px;
    margin-bottom: 56px;
}


/* Адаптация под 350px и менее */
@media (max-width: 350px) {
.popup {
    max-width: 300px;
    width: 100%;
    top: 360px;
    left: calc(50% - 300px / 2); 
}
    
.input {
    width: auto;
}

.entertext {
    font-size: 24px;
    display: block;
    text-align: center;
}

.header {
    background: #213B7E;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 16px;
}
    
.logo {
    padding-top: 15px;
    padding-bottom: 10px;
        }
    
.menu {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0px;
}
    
.content__section {
    width: auto;
    text-align: center;
    padding: 5px 10px;
}
    
.about__text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 21px;
    color: #000000;
}
.title {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 30px;
    line-height: 35px;
    display: flex;
    align-items: center;
    color: #000000;
    font-weight: 700;
    margin-top: 33px;
    margin-bottom: 25px;
    text-align: center;
}
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.word {
    color: #CF5510;
}
.content_image {
    width: 90%;   
}
.subtitle {
    justify-content: center;
}
.content__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
    
    /* Адаптация contacts.html под 350px и менее */
    
.adress {
    display: block;
    text-align: center;
    padding-left: 0px;
}
.head_under_map {
    padding-left: 0px;
}
.tel {
    padding-left: 0px;
}
.mappic {
    width: 90%;
}
.map {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.text__contacts {
    padding-left: 0px;
}
    
    /* Адаптация about.html под 350px и менее */

.video{
    width: 100%;
    height: auto;
}
.about {
    display: block;
    text-align: center;
}

.text__aboutpage {
    display: block;
    text-align: center;
}

} 

/* Адаптация под 351-767px */
@media (min-width: 351px) and (max-width: 767px) {
.popup {
        max-width: 350px;
        width: 100%;
        top: 360px;
        left: calc(50% - 350px / 2); 
    }
    .entertext {
        display: block;
        text-align: center;
    }
.input {
        width: auto;
    }
.header {
        background: #213B7E;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        padding: 0 16px;
    }

.logo {
        padding-top: 15px;
        padding-bottom: 10px;
    }

.menu {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 0px;
    }
    
.content_image {
        width: 90%;   
       }

    .content__section {
        width: auto;
        text-align: center;
        padding: 5px 10px;
    }

.title {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-size: 26px;
        line-height: 35px;
        display: flex;
        align-items: center;
        color: #000000;
        font-weight: 700;
        margin-top: 33px;
        margin-bottom: 25px;
    }
.about__text {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 21px;
        color: #000000;
    }
    .word {
    color: #CF5510;
    }

.title {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-size: 30px;
        line-height: 35px;
        display: flex;
        align-items: center;
        color: #000000;
        font-weight: 700;
        margin-top: 33px;
        margin-bottom: 25px;
        text-align: center;
    }
.content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
.content_image {
        width: 90%;   
    }
.subtitle {
        justify-content: center;
    }
.content__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Адаптация contacts.html под 351-767px */

.adress {
    display: block;
    text-align: center;
    padding-left: 0px;
}

.text__contacts {
    padding-left: 0px;
}

.head_under_map {
        padding-left: 0px;
}

.tel {
        padding-left: 0px;
}
.mappic {
    width: 90%;
}
.map {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Адаптация about.html под 351-767px */

.video{
    width: 100%;
    height: auto;
}
.about {
    display: block;
    text-align: center;
}
.text__aboutpage {
    display: block;
    text-align: center;
}
}

/* Адаптация  под 768px-1300 */
@media (min-width: 768px) and (max-width: 1300px) {

.content__info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about__text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 21px;
    color: #000000;
}
.word {
    color: #CF5510;
}
.title {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 30px;
    line-height: 35px;
    display: flex;
    align-items: center;
    color: #000000;
    font-weight: 700;
    margin-top: 33px;
    margin-bottom: 25px;
    text-align: center;
}
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content_image {
    width: 90%;   
}
    .subtitle {
    justify-content: center;
}
/* Адаптация students.html под 768px-1300 */
.students__folders {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    margin-top: 24px;
    justify-content: center;
    } 
.content__students {
    text-align: center;
    }
/* Адаптация contacts.html под 768px-1300 */
.mappic {
    width: 90%;
}
.map {
    padding-left: calc(50% - 1268px / 2);
    padding-right: calc(50% - 1268px / 2);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 33px;
    align-items: center;
}
.text__contacts {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: #000000;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 25px;
    justify-content: center;
    align-items: center;

    padding: 10px;
}
.head_under_map {
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
    color: #000000;
    font-family: 'Roboto', sans-serif;
    padding: 15px 10px 10px 10px;
}

.adress {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    font-family: 'Roboto', sans-serif;
    padding: 0px 10px 10px 10px;
}
.tel {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    font-family: 'Roboto', sans-serif;
    padding: 0px 10px 10px 10px;
}

/* Адаптация about.html под 768px-1300 */

.content_about {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 33px;
    padding-left: calc(50% - 820px / 2);
    padding-right: calc(50% - 820px / 2);
}

.video {
    width: 100%;
    height: auto;
}
}

 